.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 15px;

}
.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.grid-2 {
  grid-template-columns: repeat(2, 50%);
}
.grid-3 {
  grid-template-columns: repeat(3,33.3333%);
}
.grid-4 {
  grid-template-columns: repeat(4,25%);
}
.grid-5 {
  grid-template-columns: repeat(5,20%);
}
.grid-6 {
  grid-template-columns: repeat(6,16.6666666%);
}
.grid-7 {
  grid-template-columns: repeat(7,14.28%);
}
.grid-8 {
  grid-template-columns: repeat(8,12.5%);
}
.grid-9 {
  grid-template-columns: repeat(9,11.1111%);
}
.grid-10 {
  grid-template-columns: repeat(10,10%);
}
.grid-11 {
  grid-template-columns: repeat(11,9.09%);
}
.grid-12 {
  grid-template-columns: repeat(12,8.3333%);
}

.grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  display: grid;
  column-gap: 15px;
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 100%);
    .item {
      margin-bottom: 15px;
    }

  }
}